.register__img {
  position: absolute;
  height: 100vh;
  /* width: 300px; */
  border-radius: 0px 40px 40px 0px;
}

.register__wrapper {
  display: flex;
}

.register__inputs {
  /* position: absolute; */

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

.inp {
  width: 671px;
  height: 47px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: rgba(0, 0, 0, 0.4);
}

.register__google__btn {
  width: 671px;
  height: 47px;
  display: flex;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  border-radius: 5px;
  border: #f9f9f9;
  cursor: pointer;
}

.register__google__btn:hover {
  background-color: #f3f0f0;
  transition: ease-in-out 0.4s;
}

.register__inputs {
  margin-left: 8rem;
  margin-top: 20px;
}

.btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 671px;
  height: 47px;
  left: 557px;
  top: 747px;
  
  background: #0F172A;
  border-radius: 5px;
margin-top: 3rem;
}

.register__text {
  margin-right: 7rem;
}

.mov {
  font-style: normal;
  font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height */

letter-spacing: 0.12em;

color: #000000;

}

.btn__text {
  width: 176px;
  height: 16px;
  left: 804px;
  top: 764px;
  
  font-family: 'Glacial Indifference';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  
  
  color: #FFFFFF;
  
}