.register__img {
  position: absolute;
  height: 100%;
  border-radius: 0px 40px 40px 0px;
}

.register__wrapper {
  display: flex;
}

.register__inputs {
  /* position: absolute; */

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

.inp {
  width: 671px;
  height: 47px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.4);
  text-indent: 10px;
}

.register__google__btn {
  width: 671px;
  height: 47px;
  display: flex;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  border-radius: 5px;
  border: #f9f9f9;
  cursor: pointer;
  gap: 10px;
}

.register__google__btn:hover {
  background-color: #f3f0f0;
  transition: ease-in-out 0.4s;
}

.register__inputs {
  margin-left: 11rem;
  margin-top: 5px;
}

.btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 671px;
  height: 47px;
  
  background: #0F172A;
  border-radius: 5px;
margin-top: 2rem;
}

.register__text {
  margin-right: 4rem;
}

.mov {
  font-style: normal;
  font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height */

letter-spacing: 0.12em;

color: #000000;

}

.btn__text {
  height: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */
  
  cursor: pointer;
  color: #FFFFFF;
  
}

h2 {
  overflow: hidden;
  text-align: center;
}

h2:before,
h2:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 325px;
}

h2:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after {
  left: 0.5em;
  margin-right: -50%;
}

.register__line {

height: 22.53px;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
letter-spacing: 0.12em;

/* button stroke */

color: #524C4C;

}

.register__h1 {
  width: 85px;
height: 29px;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #000000;
}

.register__p {
font-family: 'Glacial Indifference';
color: rgba(0, 0, 0, 0.6); 
}


.font {
font-family: 'Glacial Indifference';
}

.login__move {
  margin-right: 15rem;
}

.move__text {
  margin-left: 15rem;
  margin-top: 7rem;
}

.terms {
  margin-top: 10px;
}

.move__p {
  margin-left: 2px;
}


.error {
  font-style: normal;
  font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height */

letter-spacing: 0.12em;

color: #ff6161;
}